.TopBar {
    padding: 20px 40px;
    background-color: #d9534f;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Content {
    padding: 20px 80px;
}