.Home {
    display: block;
    padding: 20px 200px;
}

.LogoHome  {
    width: 300px;
    height: 300px;
}

.LogoContainer, .ButtonContainer {
    display: flex;
    justify-content: center;
}

.Input {
    max-width: 700px;
}

.ButtonHome {
    cursor: pointer;
    width: 150px;
}