.HomeContainer {
    position: relative;
    height: 100vh;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.LogoHome  {
    width: 500px;
    height: 500px;
}

.LogoContainer, .ButtonContainer {
    display: flex;
    justify-content: center;
}

.ButtonContainer {
    margin-left: 5px;
}

.Input {
    min-width: 450px!important;
    border: 1px solid #d9534f!important;
}

.Input:focus, Input:hover {
    border: 3px solid #d9534f!important;
}

.ButtonHome {
    width: 150px;
    border-radius: 0px!important;
}

.AdminLink {
    padding: 20px 60px 0px 60px;
    text-align: right;
}

.Link {
    color: #d9534f;
    cursor: pointer;
}

.Link:hover {
    text-decoration: underline;
}